{% load staticfiles %}
{% load guardian_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>金艮云平台管理后台</title>
    <link rel="stylesheet" href="{% static 'InsdepUI/master.css' %}">
    <link rel="stylesheet" href="{% static 'InsdepUI/insdep.easyui.min.css' %}">
    <link rel="stylesheet" href="{% static 'InsdepUI/icon.css' %}">
    <link rel="stylesheet" href="{% static 'InsdepUI/iconfont/iconfont.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'self.css' %}">
    <script src="{% static 'InsdepUI/jquery.min.js' %}"></script>
    <script>
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
        });
    </script>
</head>
<body class="easyui-layout">
<div data-options="region:'north'" style="height:65px;overflow:hidden">
    {% include 'bms/includes/header.html' %}
</div>

<div data-options="region:'west',title:'菜单',split:true" style="width:260px;padding:0px; ">
    {% include 'bms/includes/menu.html' %}
</div>
<div data-options="region:'center'" style="padding:5px;background:#eee;">
    {% block main-content %}
    {% endblock main-content %}
</div>

</body>

<script src="{% static 'InsdepUI/jquery.easyui.min.js' %}"></script>
<script src="{% static 'InsdepUI/insdep.extend.min.js' %}"></script>
<script>
    $(function () {
        $('#main-tab').tabs({
            border: false,
            width: $("#main-tab").parent().width(),
            height: "auto",
            onSelect: function (title,index) {
                $('li.nav-li').each(function () { $(this).removeClass('active') });
                $('li.nav-li a').each(function () {
                    if ($(this).text() == title) {
                        $(this).parent().addClass('active');
                    }
                });
            }
        });
    });
    function newone(title, url, a) {
        $('li.nav-li').each(function () { $(this).removeClass('active') });
        $(a).parent().addClass('active');
        if ($('#main-tab').tabs('exists', title)) {
            $('#main-tab').tabs('select', title);
        } else {
            $('#main-tab').tabs('add', {
                title: title,
                href: url,
                closable: true
            });
        }
    }

</script>
{% block javascript %}
{% endblock javascript %}

</html>