{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>系统登陆</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'login/fonts/font-awesome-4.7.0/css/font-awesome.min.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'login/fonts/iconic/css/material-design-iconic-font.min.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'login/css/util.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'login/css/main.css'%}">
    <link rel="stylesheet" href="{% static 'InsdepUI/insdep.easyui.min.css' %}">

    <script src="{% static 'login/vendor/jquery/jquery-3.2.1.min.js'%}"></script>
    <script>
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
        });
    </script>
</head>

<body>
<div class="limiter">
		<div class="container-login100" style="background-image: url('{% static 'login/images/bg-01.jpg' %}');">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
				<form class="login100-form validate-form" id="loginForm">
					<span class="login100-form-title p-b-49">广州金艮云平台</span>

					<div class="wrap-input100 validate-input m-b-23" data-validate="请输入用户名">
						<span class="label-input100">用户名</span>
						<input class="input100" id="username" type="text" name="username" placeholder="请输入用户名" autocomplete="off">
						<span class="focus-input100" data-symbol="&#xf206;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="请输入密码">
						<span class="label-input100">密码</span>
						<input class="input100" id="password" type="password" name="pass" placeholder="请输入密码">
						<span class="focus-input100" data-symbol="&#xf190;"></span>
					</div>

					<div class="text-right p-t-8 p-b-31">
{#						<a href="javascript:">忘记密码？</a>#}
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn" type="button" id="loginbtn">登 录</button>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>


{#<div class="container">#}
{#    <form class="form-signin" id="loginForm">#}
{#        <div class="form-signin-heading text-center">#}
{#            <h1 class="sign-title">广州金艮云平台</h1>#}
{#            <img src="{% static 'AdminEx/images/login-logo.png' %}" alt=""/>#}
{#        </div>#}
{#        <div class="login-wrap">#}
{#            <input type="text" id="username" class="form-control" placeholder="用户名" autofocus>#}
{#            <input type="password" id="password" class="form-control" placeholder="密  码">#}
{##}
{#            <button id="loginbtn" class="btn btn-lg btn-login btn-block" type="button">#}
{#                <i class="fa fa-check">登陆</i>#}
{#            </button>#}
{#        </div>#}
{##}
{#        <!-- Modal -->#}
{#        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal"#}
{#             class="modal fade">#}
{#            <div class="modal-dialog">#}
{#                <div class="modal-content">#}
{#                    <div class="modal-header">#}
{#                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>#}
{#                        <h4 class="modal-title">Forgot Password ?</h4>#}
{#                    </div>#}
{#                    <div class="modal-body">#}
{#                        <p>Enter your e-mail address below to reset your password.</p>#}
{#                        <input type="text" name="email" placeholder="Email" autocomplete="off"#}
{#                               class="form-control placeholder-no-fix">#}
{##}
{#                    </div>#}
{#                    <div class="modal-footer">#}
{#                        <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>#}
{#                        <button class="btn btn-primary" type="button">Submit</button>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <!-- modal -->#}
{##}
{#    </form>#}
{##}
{#</div>#}
<script src="{% static 'InsdepUI/jquery.easyui.min.js' %}"></script>
<script src="{% static 'login/js/main.js'%}"></script>
<script>
    $(function () {
        loginbtn = $('#loginbtn').click(function () {
            if ($("#username").val() == null || $("#username").val() == undefined || $("#username").val()=='') {
                $.messager.alert("友情提示", "用户名不能为空");
                return;
            }
            if ($("#password").val() == null || $("#password").val() == undefined || $("#password").val()=='') {
                $.messager.alert("友情提示", "密码不能为空");
                return;
            }
            var postdata = {
                username: $("#username").val(),
                password: $("#password").val()
            };
            $.ajax({
                method: "POST",
                url: '/bms/login_check',
                cache: false,
                data: postdata,
                success: function (data) {

                    if (data && data.success) {
                        window.location.href = "/bms/index";
                    } else {
                        $.messager.alert("提示", data.msg);

                    }
                },
                error: function (data) {

                    $.messager.alert('错误', data.responseText);
                }
            });
        });
    });
</script>
</body>
</html>