{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>金艮交易系统</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">

    <link rel="stylesheet" href="{% static 'jquery-weui/lib/weui.min.css'%}">
    <link rel="stylesheet" href="{% static 'jquery-weui/css/jquery-weui.min.css'%}">
    <link rel="stylesheet" href="{% static 'jquery-weui/css/demos.css'%}">
    <script src="{% static 'jquery-weui/lib/jquery-2.1.4.js'%}"></script>
    <script>
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
        });
    </script>
</head>
<body ontouchstart>
<div class="weui-tab" id="bottom-tab">
    <div class="weui-tab__bd for-bottom">
        {% block main-content %}
        {% endblock main-content %}
    </div>

    <div class="weui-tabbar">
        <a href="#subtab1" class="weui-tabbar__item">
            {#          <span class="weui-badge" style="position: absolute;top: -.4em;right: 1em;">8</span>#}
            <div class="weui-tabbar__icon">
                <img src="{% static 'jquery-weui/images/icon_tab_1.png'%}" alt="">
            </div>
            <p class="weui-tabbar__label">行情</p>
        </a>
        <a href="#subtab2" class="weui-tabbar__item weui-bar__item--on">
            <div class="weui-tabbar__icon">
                <img src="{% static 'jquery-weui/images/icon_tab_2.png'%}" alt="">
            </div>
            <p class="weui-tabbar__label">交易</p>
        </a>
        <a href="#subtab3" class="weui-tabbar__item">
            {% if client_msg_num != 0 %}
                <span class="weui-badge" style="position: absolute;top: -.4em;right: 1em;">{{ client_msg_num }}</span>
            {% endif %}

            <div class="weui-tabbar__icon">
                <img src="{% static 'jquery-weui/images/icon_tab_3.png'%}" alt="">
            </div>
            <p class="weui-tabbar__label">我的</p>
        </a>
    </div>
</div>

    <script src="{% static 'jquery-weui/lib/fastclick.js'%}"></script>
    <script>

      $(function() {
        FastClick.attach(document.body);

        {% if request.session.status == '1' %}
          $.noti({
              title: "恭喜您注册成功！",
              text: "您已经注册成功，请继续到我的设置里面完成实名认证！",
              {#media: "<img src='{% static 'jquery-weui/images/present.png' %}/>",#}
              time: 6000
            });
        {% elif request.session.status == '2'%}
            $.noti({
              title: "您的实名认证已提交！",
              text: "请您耐心等待实名认证审核，审核完成后即可开始交易！",
              {#media: "<img src='{% static 'jquery-weui/images/icon_nav_icons.png' %}/>",#}
              time: 6000
            });
        {% endif %}

        var href = window.location.toString();
        var str1 =href.split('#')[1];
        $('.weui-tabbar__item').each(function(){
                var href = $(this).attr('href');

                if (href=='#'+str1) {
                    showTab($(this))
                }
            })
       });

       var ITEM_ON = "weui-bar__item--on";

      var showTab = function(a) {
          {#debugger;#}
        var $a = $(a);
        if($a.hasClass(ITEM_ON)) return;
        var href = $a.attr("href");

        if(!/^#/.test(href)) return ;

        $a.parent().find("."+ITEM_ON).removeClass(ITEM_ON);
        $a.addClass(ITEM_ON);
        {#debugger;#}
        var bd = $a.parents("#bottom-tab").find(".weui-tab__bd");
        bd = bd.filter('.for-bottom');
        bd.children(".weui-tab__bd-item--active").removeClass("weui-tab__bd-item--active");

        $(href).addClass("weui-tab__bd-item--active");
      };


      $(document).on("click", "#bottom-tab .weui-tabbar__item", function(e) {
          {#debugger;#}
          {#console.info(e.currentTarget);#}
          {#console.info($(e.currentTarget));#}
            var $a = $(e.currentTarget);
            var href = $a.attr("href");
            if($a.hasClass(ITEM_ON)) return;
            if(!/^#/.test(href)) return;

            showTab($a);
      })
    </script>
    <script src="{% static 'jquery-weui/js/jquery-weui.min.js'%}"></script>
    <script src="{% static 'jquery-weui/js/city-picker.js'%}"></script>
    <script src="{% static 'jquery-weui/js/tool-kit.js'%}"></script>
  </body>
</html>