{#归属管理界面#}
<script>
    $(function () {
        initAgencyTree();
        initAgencyGrid();
    });

    function initAgencyTree() {
        $('#AgencyTree1').tree({
            url: '../bms/get_agency_tree',
            onClick: function (node) {
                $('#AgencyGrid').datagrid('uncheckAll');
                // 在用户点击的时候提示
                $('#AgencyGrid').datagrid('loadData', { total: 0, rows: [] });
                $('#AgencyGrid').datagrid('load', {
                    agency_id: node.id
                });
            }
        })
    }
    function initAgencyGrid() {
        $('#AgencyGrid').datagrid({
            iconCls: 'icon-user',
            loadMsg: '数据加载中...',
            nowrap: true,
            autoRowHeight: true,
            striped: true,
            url: '../bms/get_agency_list',
            //sortName: 'UserID',
            //sortOrder: 'asc',
            border: true,
            remoteSort: false,
            idField: 'id',
            {#pageSize: 10,#}
            {#pagination: true,#}
            singleSelect: false,
            fitColumns: false,
            columns: [[
                { field: 'ck', checkbox: true },
                { field: 'id', title: 'ID', width: 150, sortable: true,hidden:true },
                { field: 'name', title: '归属名', width: 150, sortable: true },
                { field: 'organization', title: '所属机构', width: 150, sortable: true },
                { field: 'rebate_x', title: '返佣参数X', width: 100, sortable: true },
                { field: 'rebate_y', title: '返佣参数Y', width: 100, sortable: true },
                { field: 'rebate_z', title: '返佣参数Z', width: 100, sortable: true },
                { field: 'f_agency_id', title: '上级代理id', width: 150, sortable: true,hidden:true },
                { field: 'f_agency', title: '上级代理', width: 150, sortable: true },
                { field: 'invite_url',title: '邀请链接', width: 100, sortable: true,formatter:formatUrl },
                { field: 'invite_num', title: '邀请码', width: 150, sortable: true },
                { field: 'allow_business_id', title: '允许的业务id', width: 150, sortable: true,hidden:true},
                { field: 'allow_business', title: '允许的业务', width: 150, sortable: true },
                {
                    field: 'is_freeze',
                    title: "能否冻结",
                    width: 200,
                    sortable: true,
                    formatter: function (value, row, index) {
                        if (value == true) {
                            return value = '是';
                        } else {
                            return value = '否';
                        }
                    }
                }
            ]],
            toolbar: [{
                id: 'btnadd',
                text: '添加归属',
                iconCls: 'icon-add',
                handler: function () {
                    AddAgencyDialog('添加归属');
                }
            }, '-', {
                id: 'btnupdate',
                text: '修改归属信息',
                iconCls: 'icon-edit',
                handler: function () {
                    UpdateAgencyDialog();
                }
            }, '-', {
                id: 'btnrefresh',
                text: '刷新',
                iconCls: 'icon-reload',
                handler: function () {
                    initAgencyGrid();
                }
            }],
            onDblClickRow: function (index, row) {
                UpdateAgencyDialog();
            }
        });
    }

    function formatUrl(val,row,index){
            var url = "http://" + val;
            var returnString = '<a href='+url+' target="_blank">邀请链接</a>';
            return returnString;
        }
    function AddAgencyDialog(init_title) {
        $('#AddAgencyForm').form('clear');
        {% if  request.user.is_superuser  %}
            $.messager.alert('警告', '超级管理员请在总后台新增归属');
            return;
        {% endif %}
        $('#AddAgencyDialog').dialog({title:init_title,
            width:650,
            height:550,
            buttons:[{
				text:'保存',
				handler:function(){
				    AddAgencyEvent();
				}
			},{
				text:'关闭',
				handler:function(){
				    $('#AddAgencyDialog').dialog('close')
                }
			}]
        });
        $('#AddAgencyDialog').dialog('open');
        ClearText();
    }
    function AddAgencyEvent() {
        //验证所有的文本框是否通过用户的验证

        var valid = $('#AddAgencyForm').form('validate');
        if (valid == false) {
            return false;
        }
        //创建传递的参数
        {% if request.user.identity == 'org'%}
            var CBEnable = 'True';
            if ($("#AddAgencyForm #is_freeze1").combobox('getValue') == "0") {
                CBEnable = 'False';
            }
            var postdata = {
                name: $("#AddAgencyForm #name1").val(),
                rebate_x: $('#AddAgencyForm #rebate_x1').numberbox('getValue'),
                rebate_y: $('#AddAgencyForm #rebate_y1').numberbox('getValue'),
                rebate_z: $('#AddAgencyForm #rebate_z1').numberbox('getValue'),
                f_agency: $('#AddAgencyForm #f_agency_combotree1').combotree('getValue'),
                allow_business: $('#AddAgencyForm #allow_business1').combotree('getValues').toString(),
                is_freeze: CBEnable
        };
        {% else %}
            var selectA = $('#AgencyGrid').datagrid('getSelected');
            if (selectA == null || selectA == undefined) {
                var postdata = {
                    name: $("#AddAgencyForm #name1").val(),
                    rebate_x: $('#AddAgencyForm #rebate_x1').numberbox('getValue'),
                    rebate_y: $('#AddAgencyForm #rebate_y1').numberbox('getValue'),
                    rebate_z: $('#AddAgencyForm #rebate_z1').numberbox('getValue'),
                    f_agency: 'null'
                };
            }
            else
            {
                var postdata = {
                    name: $("#AddAgencyForm #name1").val(),
                    rebate_x: $('#AddAgencyForm #rebate_x1').numberbox('getValue'),
                    rebate_y: $('#AddAgencyForm #rebate_y1').numberbox('getValue'),
                    rebate_z: $('#AddAgencyForm #rebate_z1').numberbox('getValue'),
                    f_agency: selectA.id
                };
            }
        {% endif %}
        var passurl='../bms/add_agency';
        $.ajax({
            type: 'POST',
            url: passurl,
            cache: false,
            data:postdata,
            success: function (data) {
                if (data && data.success) {
                    $.messager.show({
                        title: '我的消息',
                        msg: data.msg,
                        timeout: 5000,
                        showType: 'slide'
                    });
                    $('#AddAgencyDialog').dialog('close');
                    $("#AgencyGrid").datagrid("reload");
                    $('#AgencyTree1').tree('reload');
                }
                else {
                    alert("添加失败，请您重新检查");
                }
            },
            error: function (data) {
                $.messager.alert('错误', data.responseText);
            }
        });

    }

    function UpdateAgencyDialog() {
{#        {% if request.user.identity != 'org' and not request.user.is_superuser%}#}
{#            alert('您没有修改归属的权限，如需要修改信息请联系机构管理员。')#}
{#            return;#}
{#        {% endif %}#}
        var selectA = $('#AgencyGrid').datagrid('getSelected');
        if (selectA == null || selectA == undefined) {
            $.messager.alert("友情提示", "请先选择一个归属");
            return;
        }
        $('#UpdateAgencyDialog').dialog({
            title:'修改归属信息',
            width:650,
            height:550,
            buttons:[{
				text:'保存',
				handler:function(){
				    UpdateAgencyEvent();
				}
			},{
				text:'关闭',
				handler:function(){
				    $('#UpdateAgencyDialog').dialog('close')
                }
			}]
        });
        $('#UpdateAgencyDialog').dialog('open');

        if(selectA)
        {

            $('#allow_business').combotree('setValues',selectA.allow_business_id);
            $('#f_agency_combotree').combotree('setValue', {
                id: selectA.f_agency_id,
                text: selectA.f_agency
            });
            $('#UpdateAgencyForm').form('load',selectA);
        }

    }
    function UpdateAgencyEvent() {
        var valid = $('#UpdateAgencyForm').form('validate');
        if (valid == false) {
            return false;
        }

        {% if request.user.identity == 'org'%}
            var CBEnable = 'True';

            if ($("#UpdateAgencyForm #is_freeze").combobox('getValue') == "0" || $("#UpdateAgencyForm #is_freeze").combobox('getValue') == 'false' || $("#UpdateAgencyForm #is_freeze").combobox('getValue')==false) {
                CBEnable = 'False';
            }
            {#console.info($('#UpdateAgencyForm #allow_business').combotree('getValues').toString())#}

            var postdata = {
                id:       $('#AgencyGrid').datagrid('getSelected').id,
                name:     $('#UpdateAgencyForm #name').val(),
                rebate_x: $('#UpdateAgencyForm #rebate_x').numberbox('getValue'),
                rebate_y: $('#UpdateAgencyForm #rebate_y').numberbox('getValue'),
                rebate_z: $('#UpdateAgencyForm #rebate_z').numberbox('getValue'),
                f_agency: $('#UpdateAgencyForm #f_agency_combotree').combotree('getValue'),
                allow_business: $('#UpdateAgencyForm #allow_business').combotree('getValues').toString(),
                is_freeze: CBEnable
            }
        {% else %}
            var postdata = {
                id:       $('#AgencyGrid').datagrid('getSelected').id,
                name:     $('#UpdateAgencyForm #name').val(),
                rebate_x: $('#UpdateAgencyForm #rebate_x').numberbox('getValue'),
                rebate_y: $('#UpdateAgencyForm #rebate_y').numberbox('getValue'),
                rebate_z: $('#UpdateAgencyForm #rebate_z').numberbox('getValue')
            }
        {% endif %}
        var passurl='../bms/update_agency';
        $.ajax({
            type: 'POST',
            url: passurl,
            cache: false,
            data:postdata,
            success: function (data) {
                if (data && data.success) {
                    $.messager.show({
                        title: '我的消息',
                        msg: data.msg,
                        timeout: 5000,
                        showType: 'slide'
                    });
                    $('#UpdateAgencyDialog').dialog('close');
                    $("#AgencyGrid").datagrid("reload");
                    $('#AgencyTree1').tree('reload');
                }
                else {
                    alert("更新失败，"+data.msg);
                }
            },
            error: function (data) {
                $.messager.alert('错误', data.responseText);
            }
        });
    }

    function ClearText() {
        $('#AddAgencyForm').form('clear');
    }

</script>

<div id="cc" class="easyui-layout" style="height:700px;" fit="true">
    <div data-options="region:'west',title:'归属列表',split:true,collapsible:false" style="width:200px;">
        <ul id="AgencyTree1"></ul>
    </div>
    <div data-options="region:'center',title:'归属详情-选择左侧归属后自动更新'" style="padding:2px;background:#eee;height:400px;">
        <table id="AgencyGrid"></table>

    </div>
</div>
    {#----------------------新增归属界面------------------------------------------------------------#}
    <div id="AddAgencyDialog" class="easyui-dialog" style="padding:10px 20px"
     closed="true" resizable="true" modal="true" buttons="#dlg-buttons" align="center">
        <form id="AddAgencyForm" method="post" novalidate="novalidate">
            <table id="tblAdd" class="self-input-table">
                <tr>
                    <td><label for="name">归属名：</label></td>
                    <td><input class="easyui-validatebox form-control" type="text" id="name1" name="name" data-options="required:true,validType:'length[1,32]'" style="width:350px;" /></td>
                </tr>

                <tr>
                    <td><label for="rebate_x">返佣参数X：</label></td>
                    <td><input class="easyui-numberbox form-control" type="text" id="rebate_x1" name="rebate_x" data-options="precision:2" style="width:350px;" /></td>
                </tr>
                <tr>
                    <td><label for="rebate_y">返佣参数Y：</label></td>
                    <td><input class="easyui-numberbox form-control" type="text" id="rebate_y1" name="rebate_y" data-options="precision:2" style="width:350px;" /></td>
                </tr>
                <tr>
                    <td><label for="rebate_z">返佣参数Z：</label></td>
                    <td><input class="easyui-numberbox form-control" type="text" id="rebate_z1" name="rebate_z" data-options="precision:2" style="width:350px;" /></td>
                </tr>
                {% if request.user.identity == 'org' or request.user.is_superuser %}
                    <tr>
                        <td><label for="f_agency">上级代理：</label></td>
                        <td>
                            <select id="f_agency_combotree1" class="easyui-combotree" style="width:200px;"
                                    data-options="url:'../bms/get_agency_tree',required:true"></select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="allow_business1">允许的业务：</label></td>
                        <td>
                            <select id="allow_business1" class="easyui-combotree" style="width:200px;"
                                    data-options="url:'../bms/get_allow_business',required:true,checkbox:true,multiple:true,"></select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="is_freeze">能否冻结：</label></td>
                        <td>
                            <select id="is_freeze1" name="is_freeze" class="easyui-combobox" editable="false" panelheight='auto' style="width:100px;">
                                <option value="1">是</option>
                                <option value="0">否</option>
                            </select>
                        </td>
                    </tr>
                {% endif %}
            </table>
        </form>
    </div>
 {#----------------------新增归属界面结束------------------------------------------------------------#}
 {#----------------------更新归属界面-------必须机构用户-----------------------------------------------------#}
    <div id="UpdateAgencyDialog" class="easyui-dialog" style="width:560px;height:340px;padding:10px 20px"
     closed="true" resizable="true" modal="true" buttons="#dlg-buttons" align="center">
    <form id="UpdateAgencyForm" method="post" novalidate="novalidate">
            <table id="tblAdd" class="self-input-table">
                <tr>
                    <td><label for="name">归属名：</label></td>
                    <td><input class="easyui-validatebox form-control" type="text" id="name" name="name" data-options="required:true,validType:'length[1,32]'" style="width:350px;" /></td>
                </tr>
                <tr>
                    <td><label for="rebate_x">返佣参数X：</label></td>
                    <td><input class="easyui-numberbox form-control" type="text" id="rebate_x" name="rebate_x" data-options="precision:2" style="width:350px;" /></td>
                </tr>
                <tr>
                    <td><label for="rebate_y">返佣参数Y：</label></td>
                    <td><input class="easyui-numberbox form-control" type="text" id="rebate_y" name="rebate_y" data-options="precision:2" style="width:350px;" /></td>
                </tr>
                <tr>
                    <td><label for="rebate_z">返佣参数Z：</label></td>
                    <td><input class="easyui-numberbox form-control" type="text" id="rebate_z" name="rebate_z" data-options="precision:2" style="width:350px;" /></td>
                </tr>
                {% if request.user.identity == 'org' or request.user.is_superuser %}
                    <tr>
                        <td><label for="f_agency">上级归属：(必须与上级归属同级)</label></td>
                        <td>
                            <select id="f_agency_combotree" class="easyui-combotree" style="width:200px;"
                                    data-options="url:'../bms/get_agency_tree',required:true"></select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="allow_business">允许的业务：</label></td>
                        <td>
                            <select id="allow_business" class="easyui-combotree" style="width:200px;"
                                    data-options="url:'../bms/get_allow_business',required:true,multiple:true,"></select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="is_freeze">能否冻结：</label></td>
                        <td>
                            <select id="is_freeze" name="is_freeze" class="easyui-combobox" editable="false" panelheight='auto' style="width:100px;">
                                <option value="1">是</option>
                                <option value="0">否</option>
                            </select>
                        </td>
                    </tr>
                {% endif %}
            </table>
    </form>
    </div>
   {#----------------------更新归属界面结束------------------------------------------------------------#}


<a href="#" target="_blank"></a>