{#客户列表#}
{% load staticfiles %}
<script>
    $(function () {
        initAgencyTree();
        initTable();
    });
    function initAgencyTree() {
        $('#AgencyTreeForClient').tree({
            url: '../bms/get_agency_tree',
            onClick: function (node) {
                $('#ClientGrid').datagrid('uncheckAll');
                // 在用户点击的时候提示
                $('#ClientGrid').datagrid('loadData', { total: 0, rows: [] });
                $('#ClientGrid').datagrid('load', {
                    agency_id: node.id
                });
            }
        })
    }
    function initTable() {
        $('#ClientGrid').datagrid({
            title: '客户列表',
            iconCls: 'icon-user',
            loadMsg: '数据加载中...',
            nowrap: true,
            autoRowHeight: true,
            striped: true,
            url: '../bms/get_client_list',
            {#sortName: 'username',#}
            {#sortOrder: 'asc',#}
            border: true,
            remoteSort: false,
            idField: 'id',
            pageSize: 10,
            pagination: true,
            rownumbers: true,
            singleSelect: true,
            fitColumns: true,
            columns: [[
                {field: 'ck', checkbox: true},
                {field: 'id', title: 'ID', width: 80, hidden:true },
                {field: 'name', title: '客户名称', width: 200, sortable: true},
                {field: 'mobile_phone', title: "手机号码", width: 200, sortable: true},
                {field: 'mailbox', title: '邮箱', width: 200, sortable: true},
                {field: 'organization', title: '所属机构', width: 200, sortable: true},
                {field: 'agency', title: '所属归属', width: 200, sortable: true},
                {field: 'allow_business', title: '允许的业务类型', width: 200, sortable: true},
                {field: 'status', title: '状态', width: 200, sortable: true},
                {field: 'is_freeze', title: '能否冻结', width: 200, sortable: true},
                {field: 'allow_business_id', title: 'allow_business_id', width: 200, sortable: true,hidden:true},
                {field: 'identity_card', title: 'identity_card', width: 200, sortable: true,hidden:true},
                {field: 'bank_image', title: 'bank_image', width: 200, sortable: true,hidden:true},
                {field: 'bank_card', title: 'bank_card', width: 200, sortable: true,hidden:true},
                {field: 'bank_name', title: 'bank_name', width: 200, sortable: true,hidden:true},
                {field: 'open_city', title: 'open_city', width: 200, sortable: true,hidden:true},
                {field: 'bank_branch', title: 'bank_branch', width: 200, sortable: true,hidden:true}
            ]],
            toolbar: [{
                id: 'btnedit',
                text: '审核实名认证',
                iconCls: 'icon-edit',
                handler: function () {
                    CheckClientDialog('实名认证');
                }
            }, '-', {
                id: 'btncut',
                text: '修改密码',
                iconCls: 'icon-lock-password',
                handler: function () {
                    ChangePwdDialog();
                }
            }, '-', {
                id: 'btnedit',
                text: '冻结与解冻',
                iconCls: 'icon-repair',
                handler: function () {
                    FreezeClientDialog('冻结与解冻客户');
                }
            },'-', {
                id: 'btnedit',
                text: '允许的业务',
                iconCls: 'icon-repair',
                handler: function () {
                    AllowBusinessDialog('允许的业务');
                }
            }, '-', {
                id: 'btnrefresh',
                text: '刷新',
                iconCls: 'icon-reload',
                handler: function () {
                    initTable();
                }
            }]
        });
    }

    function AllowBusinessDialog(init_title) {
        var UpdateClient = $('#ClientGrid').datagrid('getSelected');
        if (UpdateClient == null || UpdateClient == undefined) {
            $.messager.alert("友情提示", "请您先选择一行需要修改的数据");
            return;
        }
        common_dialog($('#AllowBusinessDialog'),init_title,650,300,true,AllowBusinessEvent);

        if(UpdateClient)
        {
            $('#AllowBusinessForm #allow_business').combotree('setValues',UpdateClient.allow_business_id);
        }
    }

    function AllowBusinessEvent() {
        var row = $('#ClientGrid').datagrid('getSelected');
        var postdata = {
            client_id: row.id,
            allow_business: $('#AllowBusinessForm #allow_business').combotree('getValues').toString()
        };
        var post_url='../bms/allow_business';

        common_ajax_post(post_url,postdata,true,function () {
                $('#AllowBusinessDialog').dialog('close');
                $("#ClientGrid").datagrid("reload");
            });

    }

    function FreezeClientDialog(init_title) {
        var UpdateClient = $('#ClientGrid').datagrid('getSelected');
        if (UpdateClient == null || UpdateClient == undefined) {
            $.messager.alert("友情提示", "请您先选择一行需要修改的数据");
            return;
        }

        common_dialog($('#FreezeClientDialog'),init_title,650,300,true,FreezeClientEvent);


        if(UpdateClient)
        {
            $('#FreezeClientForm').form('load',UpdateClient);
        }
    }

    function FreezeClientEvent() {
        var row = $('#ClientGrid').datagrid('getSelected');
        var CBEnable = '';
        if ($("#FreezeClientForm #is_freeze").combobox('getValue') == "0"|| $("#FreezeClientForm #is_freeze").combobox('getValue') == "false") {
            CBEnable = 'False';
        }else if ($("#FreezeClientForm #is_freeze").combobox('getValue') == "1" || $("#FreezeClientForm #is_freeze").combobox('getValue') == "true") {
            CBEnable = 'True';
        }
        var postdata = {
            client_id: row.id,
            is_freeze: CBEnable
        };
        var post_url='../bms/freeze_client';

        common_ajax_post(post_url,postdata,true,function () {
                $('#FreezeClientDialog').dialog('close');
                $("#ClientGrid").datagrid("reload");
            });

    }

    function CheckClientDialog(init_title) {
        var UpdateClient = $('#ClientGrid').datagrid('getSelected');
        if (UpdateClient == null || UpdateClient == undefined) {
            $.messager.alert("友情提示", "请您先选择一行需要修改的数据");
            return;
        }
        if (UpdateClient.status!='已开户待提审' && UpdateClient.status!='已提审待审核' ) {
            $.messager.alert("友情提示", "已经审批通过，不能重复审批。");
            return;
        }

        {#common_dialog($('#CheckClientDialog'),init_title,800,650,true,InBalanceEvent);#}
        $('#CheckClientDialog').dialog({title:init_title,
            width:800,
            height:650,
            buttons:[{
				text:'审核通过',
				handler:function(){
				    CheckClientEvent(true);

				}
			},{
				text:'审核不通过',
				handler:function(){
				    CheckClientEvent(false);

                }
			}]
        });
        $('#CheckClientDialog').dialog('open');

        if(UpdateClient)
        {
            $('#CheckClientForm').form('load',UpdateClient);
            var url = "{% static '' %}";
            url = url+'media/'+UpdateClient.bank_image;
            $("#CheckClientForm #bank_image").attr("src",url);

         }
    }

    function CheckClientEvent(check) {
        var row = $('#ClientGrid').datagrid('getSelected');

        var postdata = {
            client_id: row.id,
            check: check,
        };
        var post_url='../bms/check_client';

        common_ajax_post(post_url,postdata,true,function () {
                $('#CheckClientDialog').dialog('close');
                $("#ClientGrid").datagrid("reload");
            });

    }

    function ChangePwdDialog() {
        var UpdateClient = $('#ClientGrid').datagrid('getSelected');
        if (UpdateClient == null || UpdateClient == undefined) {
            $.messager.alert("友情提示", "请您先选择一行需要修改的数据");
            return;
        }

        common_dialog($('#ChangePwdDialog'),'修改客户密码',650,300,true,ChangePwdEvent);


    }

    function ChangePwdEvent() {
        var valid = $('#ChangePwdForm').form('validate');
        if (valid == false) {
            return false;
        }
        if ($("#ChangePwdForm #password1").val() != $("#ChangePwdForm #PasswordOK1").val()) {
            $.messager.alert("友情提示", "两次输入的密码不一致，请重新输入。");
            $("#ChangePwdForm #password1").val("");
            $("#ChangePwdForm #PasswordOK1").val("");
            return;
        }
        if ($('#ChangePwdForm #password1').val().length < 6 || $('#ChangePwdForm #password1').val().length > 16) {
            $.messager.alert("友情提示", "密码长度请设置在6位到16位之间，请重新输入。");
            return;
        }
        var row = $('#ClientGrid').datagrid('getSelected');
        var postdata = {
            client_id: row.id,
            password: $("#ChangePwdForm #password1").val(),
        };
        var post_url='../bms/change_client_pwd';

        common_ajax_post(post_url,postdata,true,function () {
                $('#ChangePwdDialog').dialog('close');
                $("#ClientGrid").datagrid("reload");
            });
    }
</script>

<div id="cc" class="easyui-layout" style="height:700px;" fit="true">
    <div data-options="region:'west',title:'归属列表',split:true,collapsible:false" style="width:200px;">
        <ul id="AgencyTreeForClient"></ul>
    </div>
    <div data-options="region:'center',title:'客户列表-选择左侧归属后自动更新'" style="padding:2px;background:#eee;height:400px;">
        <table id="ClientGrid"></table>
    </div>
    {#----------------------更新客户状态开始------------------------------------------------------------#}
    <div id="FreezeClientDialog" class="easyui-dialog" style="padding:20px 20px"
         closed="true" resizable="true" modal="true" buttons="#dlg-buttons" align="center">
        <form id="FreezeClientForm" method="post" novalidate="novalidate">
            <table id="tblAdd" class="self-input-table">
                <tr>
                    <td><label for="is_freeze">是否冻结：</label></td>
                    <td>
                        <select id="is_freeze" name="is_freeze" class="easyui-combobox" editable="false" panelheight='auto' style="width:100px;">
                            <option value="true">是</option>
                            <option value="false">否</option>
                        </select>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    {#----------------------更新客户状态结束------------------------------------------------------------#}
    {#----------------------更新客户密码开始------------------------------------------------------------#}
    <div id="ChangePwdDialog" class="easyui-dialog" style="padding:20px 20px"
         closed="true" resizable="true" modal="true" buttons="#dlg-buttons" align="center">
        <form id="ChangePwdForm" method="post" novalidate="novalidate">
            <table id="tblAdd" class="self-input-table">
                <tr>
                    <td><label for="password">新密码：</label></td>
                    <td><input class="easyui-validatebox form-control" type="password" id="password1" name="password" data-options="required:true,validType:'length[1,32]'" style="width:350px;" /></td>
                </tr>
                <tr>
                    <td><label for="PasswordOK">确认密码：</label></td>
                    <td><input class="easyui-validatebox form-control" type="password" id="PasswordOK1" name="PasswordOK" data-options="required:true" validtype="equalTo['password']" invalidmessage="两次输入密码不匹配" style="width:350px;" /></td>
                </tr>
            </table>
        </form>
    </div>
    {#----------------------更新客户密码结束------------------------------------------------------------#}
    {#----------------------审核客户实名认证开始------------------------------------------------------------#}
    <div id="CheckClientDialog" class="easyui-dialog" style="padding:20px 20px"
         closed="true" resizable="true" modal="true" buttons="#dlg-buttons" align="center">
        <form id="CheckClientForm" method="post" novalidate="novalidate">
            <table id="tblAdd" class="self-input-table">
                <tr>
                    <td><label for="bank_image">银行卡图片：</label></td>
                    <td><img id="bank_image" name="bank_image" style="border: #0c80d7 solid 2px;"></td>
                </tr>
                <tr>
                    <td><label for="identity_card">身份证：</label></td>
                    <td><input class="easyui-textbox form-control" type="text" id="identity_card" name="identity_card" readonly="readonly" style="width:350px;" /></td>
                </tr>
                <tr>
                    <td><label for="bank_card">银行卡号：</label></td>
                    <td><input class="easyui-textbox form-control" type="text" id="bank_card" name="bank_card" readonly="readonly" style="width:350px;" /></td>
                </tr>
                <tr>
                    <td><label for="bank_name">开户银行：</label></td>
                    <td><input class="easyui-textbox form-control" type="text" id="bank_name" name="bank_name" readonly="readonly" style="width:350px;" /></td>
                </tr>
                <tr>
                    <td><label for="open_city">开户市：</label></td>
                    <td><input class="easyui-textbox form-control" type="text" id="open_city" name="open_city" readonly="readonly" style="width:350px;" /></td>
                </tr>
                <tr>
                    <td><label for="bank_branch">开户支行：</label></td>
                    <td><input class="easyui-textbox form-control" type="text" id="bank_branch" name="bank_branch" readonly="readonly" style="width:350px;" /></td>
                </tr>
            </table>
        </form>
    </div>
    {#----------------------审核客户实名认证结束------------------------------------------------------------#}
    {#----------------------更新允许的业务界面------------------------------------------------------------#}
    <div id="AllowBusinessDialog" class="easyui-dialog" style="padding:10px 20px"
         closed="true" resizable="true" modal="true" buttons="#dlg-buttons" align="center">
        <form id="AllowBusinessForm" method="post" novalidate="novalidate">
            <table id="tblAdd" class="self-input-table">
                <tr>
                    <td><label for="allow_business">允许的业务：</label></td>
                    <td>
                        <select id="allow_business" name="allow_business" class="easyui-combotree" style="width:200px;"
                                data-options="url:'../bms/get_allow_business',required:true,multiple:true,"></select>
                    </td>
                </tr>
            </table>
        </form>
    </div>
   {#----------------------更新允许的业务界面结束------------------------------------------------------------#}
</div>
