{% extends 'bms/client_ui/base_no_tab.html' %}

{% block main-content %}
  <style>
  .hide{
   display: none;
  }
  .fr{
   float: right;
  }
  .fl{
   float: left;
  }
  .text-right{
   text-align: right!important;
  }
  .text-center{
   text-align: center!important;;
  }
  .text-left{
   text-align: left!important;;
  }
  .w10{width:10%;}
  .w20{width:20%;}
  .w30{width:30%;}
  .w40{width:40%;}
  .w50{width:50%;}
  .w60{width:60%;}
  .w70{width:70%;}
  .w80{width:80%;}
  .w90{width:90%;}
  .w100{width:100%;}
  /*图片上传部分样式*/
  .uploadImg ul,li{
   list-style: none;
   margin:0;
   padding: 0;
  }
  .uploadImg ul{
   width:100%;
   display: flex;
   justify-content: space-evenly;
   font-size: .5rem;
  }
  .uploadImg li{
   text-align: center;
  }
  .uploadImg li>div:not(.hide){
   display: inline-block;
   position: relative;
  }
  .validate-required::before{
   content: '*';
   color: red;
   font-size: 50%;
  }
  .weui-cells_form{
   margin-top: 0;
  }
  .showActive{
   display: block!important;
  }.showActive-ib{
    display: inline-block!important;
   }
  ul,li{
   list-style: none;
   margin:0;
   padding: 0;
  }
  ul{
   width:100%;
   display: flex;
   justify-content: space-evenly;
   font-size: .5rem;
  }
  li{
   text-align: center;
  }
  li>div{
   display: inline-block;
   position: relative;
  }
  body,html{
   height:100%;
  }
  label > *{
   pointer-events : auto;
  }
  .weui-popup__container--visible .close-popup{
   display: block;
  }
  .weui-btn-area{
   margin:0;
  }
  .weui-cells{
   margin:0;
  }
  .J_GetCode{
   font-size: 12px;
  }
  #ftype{
   text-align: center;
  }
  .roleDiv>div{
   display: none;
  }
 </style>

    <header class='demos-header'>
      <h1 class="demos-title">填些实名信息</h1>
    </header>
    <div class="weui-cells weui-cells_form">
        <div class="userInfo">
            <form id="authentication_form">
                {% csrf_token %}
                <!--银行卡图片-->
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label validate-required">银行卡：</label></div>
                    <div class="weui-cell__bd">
                        <ul>
                            <li imgNum="fidCardFile1">
                                <div class="weui-uploader__input-box">
                                    <input type="file" class="weui-uploader__input" isRequired="true" id="bank_card" name="bank_card" placeholder="请上传银行卡正面照片" accept="image/*">
                                </div>
                                <div class="add_img weui-uploader__file hide"></div>
                                <p class="validate-required">银行卡正面</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--银行卡号-->
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label for="" class="weui-label  validate-required">银行卡号</label></div>
                    <div class="weui-cell__bd">
                        <input type="text" class="weui-input" id="card_no" name="card_no" placeholder="请输入银行卡号">
                    </div>
                </div>
                <!--身份证号-->
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label for="" class="weui-label  validate-required">身份证号</label></div>
                    <div class="weui-cell__bd">
                        <input type="text" class="weui-input" id="id_no" name="id_no" placeholder="请输入身份证号">
                    </div>
                </div>
                <!--开户银行-->
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label for="" class="weui-label  validate-required">开户银行</label></div>
                    <div class="weui-cell__bd">
                        <input type="text" class="weui-input" id="bank_name" name="bank_name" placeholder="请输入开户银行名称">
                    </div>
                </div>
                <!--城市-->
                <div class="weui-cells weui-cells_form">
                    <div class="weui-cell">
                        <div class="weui-cell__hd"><label for="bank_city" class="weui-label  validate-required">开户城市</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" id="bank_city" name="bank_city" type="text">
                        </div>
                    </div>
                </div>
                <!--开户支行-->
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label for="" class="weui-label  validate-required">开户支行</label></div>
                    <div class="weui-cell__bd">
                        <input type="text" class="weui-input" id="branch_name" name="branch_name" placeholder="请输入开户支行名称">
                    </div>
                </div>


                <div class="weui-gallery" id="modal">
                      <!--照片查看-->           
                    <span class="weui-gallery__img" ></span>
                            <input type="hidden">
                        <div class="weui-gallery__opr">
                                <a href="javascript:" class="weui-gallery__del">
                                    <i class="weui-icon-delete weui-icon_gallery-delete"></i>
                                  </a>
                        </div>
                </div>
                <div class='demos-content-padded'>
                    <a href="javascript:;" class="weui-btn weui-btn_primary" id="upload_info">上传资料</a>
                    <a href="javascript:window.history.back();" class="weui-btn weui-btn_plain-default">返回</a>
                </div>
            </form>
        </div>
    </div>

<script>
    $(function () {
        $("#bank_city").cityPicker({
            title: "选择目的地",
            showDistrict: false,
            onChange: function (picker, values, displayValues) {
                console.log(values, displayValues);
            }
        });

        $('#authentication_form #upload_info').click(function () {
            if($('#bank_card').val()==''||$('#bank_card').val()==null||$('#bank_card').val()==undefined)
            {
                $.toptip('银行卡照片不能为空', 'error');
                return;
            }
            if($('#card_no').val()==''||$('#card_no').val()==null||$('#card_no').val()==undefined)
            {
                $.toptip('银行卡号不能为空', 'error');
                return;
            }
            if($('#id_no').val()==''||$('#id_no').val()==null||$('#id_no').val()==undefined)
            {
                $.toptip('身份证号不能为空', 'error');
                return;
            }
            if($('#bank_name').val()==''||$('#bank_name').val()==null||$('#bank_name').val()==undefined)
            {
                $.toptip('开户银行不能为空', 'error');
                return;
            }
            if($('#bank_city').val()==''||$('#bank_city').val()==null||$('#bank_city').val()==undefined)
            {
                $.toptip('城市不能为空', 'error');
                return;
            }
            if($('#branch_name').val()==''||$('#branch_name').val()==null||$('#branch_name').val()==undefined)
            {
                $.toptip('开户支行不能为空', 'error');
                return;
            }



            var data = new FormData($('#authentication_form')[0]);

            $.ajax({
                url: '../update_authentication_info',
                type: 'POST',
                data: data,
                dataType: 'JSON',
                cache: false,
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data && data.success) {
                        window.location.href='/checking'
                    } else {
                        $.toptip("添加失败，请您重新检查"+data.msg, 'error');
                    }
                },
                error: function (data) {
                    $.toptip('操作失败' + data.responseText, 'error');
                }
            })
        });
    });
    {#"use strict"#}
    /*
    * 设置微信端上传图片
    * option 配置参数
    * imgDelete  照片是否可以删除
    *
    * */
    class getImgData{
        constructor(option){
            this.defaultOption = {
                imgDelete : true
            }
            this.imgData = {};
            this.option = $.extend({},this.defaultOption,option)
            this.init();
        }
        init(){
            let that = this;
            //绑定选择
            that.bingChange();
            //绑定显示图片
            that.viewImg();
            //绑定删除图片
            if(that.option.imgDelete){
                that.deleteImg();
            }else{
                $(".weui-gallery__del").remove();
            }
            //点击span时缩小
            $("#modal span").click(()=>{
                $("#modal").hide();
            })
        }
        bingChange(){
            let that = this;
            $("input[type=file]").change(function(){
                let reader = new FileReader();
                reader.onload = evt => {
                    //如果文件大于1M压缩图片
                    console.log("压缩前"+that.showSize(evt.target.result)+"kb")
                    if(this.files[0].size > 1*1024*1024){
                        that.dealImage(evt.target.result,{w:"500",h:"500",quality:0.5},res => {
                            console.log("压缩后"+that.showSize(res)+"kb")
                            that.setImg($(this).parents("li").attr("imgNum"),{
                                "base64":res,
                                "file":this.files[0]
                            });
                        })
                    }else{
                        that.setImg($(this).parents("li").attr("imgNum"),{
                            "base64":evt.target.result,
                            "file":this.files[0]
                        });
                    }

                }
                reader.readAsDataURL(this.files[0]);
            })
        }
        viewImg(){
            $("div.add_img").click(function(){
                $("#modal").show().find("span").css("backgroundImage",$(this).css("backgroundImage")).attr("imgNum",$(this).parents("li").attr("imgNum"));
            })
        }
        deleteImg(){
            let that = this;
            $(".weui-gallery__del").click(()=>{
                $.confirm("您确定要删除该张照片吗", "确认删除?", function() {
                    that.setImg($("#modal span").attr("imgNum"))
                    $("#modal").hide();
                    $.toast("图片已经删除!");
                }, function() {
                    //取消操作
                });
            })
        }
        setImg(imgNum,data){
            // imgNum 每个li的imgNum标识  data 图片路径
            if(data && data['base64']){
                this.imgData[imgNum] = {
                    'base64' : data.base64 ,
                    'file' : data.file
                };
                $("li[imgNum = "+ imgNum +"]").find(".weui-uploader__input-box").hide().next(".add_img").removeClass("hide").css("backgroundImage",`url(${data['base64']})`);
            }else{
                this.imgData[imgNum] = null;
                $("li[imgNum = "+ imgNum +"]").find(".weui-uploader__input-box").show().next(".add_img").css("backgroundImage","").addClass("hide");
            }
        }
        getImg(){
            return this.imgData
        }
        dealImage(path, obj, callback){
            //压缩img  path 图片路径 obj{w:压缩后图片宽,h:压缩后图片高,quality:图片质量}
            var img = new Image();
            img.src = path;
            img.onload = function(){
                var that = this;
                // 默认按比例压缩
                var w = that.width,
                    h = that.height,
                    scale = w / h;
                w = obj.width || w;
                h = obj.height || (w / scale);
                var quality = 0.5;  // 默认图片质量为0.5
                //生成canvas
                var canvas = document.createElement('canvas');
                var ctx = canvas.getContext('2d');
                // 创建属性节点
                var anw = document.createAttribute("width");
                anw.nodeValue = w;
                var anh = document.createAttribute("height");
                anh.nodeValue = h;
                canvas.setAttributeNode(anw);
                canvas.setAttributeNode(anh);
                ctx.drawImage(that, 0, 0, w, h);
                // 图像质量
                if(obj.quality && obj.quality <= 1 && obj.quality > 0){
                    quality = obj.quality;
                }
                // quality值越小，所绘制出的图像越模糊
                var base64 = canvas.toDataURL('image/jpeg', quality );
                // 回调函数返回base64的值
                callback(base64);
            }
        }
        showSize(base64url) {
            //获取base64图片大小，返回KB数字
            var str = base64url.replace('data:image/png;base64,', '');
            var equalIndex = str.indexOf('=');
            if(str.indexOf('=')>0) {
                str=str.substring(0, equalIndex);
            }
            var strLength=str.length;
            var fileLength=((strLength-(strLength/8)*2)/1024).toFixed(1);
            return fileLength;
        }
    }
    let _img = new getImgData();
    $(".submit").click(function(){
        console.log(_img.getImg());
        });

</script>
{% endblock main-content %}