{% load staticfiles %}
<header class='demos-header'>
  <h1 class="demos-title">账户信息</h1>
</header>

<div class="weui-cells">
    <a class="weui-cell weui-cell_access" href="/my_account">
        <div class="weui-cell__hd"><img src="{% static 'jquery-weui/images/crown.png'%}" alt="" style="width:20px;margin-right:5px;display:block"></div>
        <div class="weui-cell__bd">
            <p>我的账户</p>
        </div>
        <div class="weui-cell__ft" style="color: red;">¥{{ client_balance }}</div>
    </a>
    <a class="weui-cell weui-cell_access" href="/recharge_page">
        <div class="weui-cell__hd"><img src="{% static 'jquery-weui/images/in.png'%}" alt="" style="width:20px;margin-right:5px;display:block"></div>
        <div class="weui-cell__bd">
            <p>充值</p>
        </div>
        <div class="weui-cell__ft">进入</div>
    </a>
    <a class="weui-cell weui-cell_access" href="/withdraw_page">
        <div class="weui-cell__hd"><img src="{% static 'jquery-weui/images/out.png'%}" alt="" style="width:20px;margin-right:5px;display:block"></div>
        <div class="weui-cell__bd">
            <p>提现</p>
        </div>
        <div class="weui-cell__ft">进入</div>
    </a>
    {% if request.session.status == '1' %}
        <a class="weui-cell weui-cell_access" href="/authentication">
            <div class="weui-cell__hd"><img src="{% static 'jquery-weui/images/authentication.png'%}" alt="" style="width:20px;margin-right:5px;display:block"></div>
            <div class="weui-cell__bd">
                <p>实名认证</p>
            </div>
            <div class="weui-cell__ft">
                进行验证
            </div>
        </a>
    {% elif request.session.status == '2' %}
        <a class="weui-cell weui-cell_access" href="/checking">
            <div class="weui-cell__hd"><img src="{% static 'jquery-weui/images/authentication.png'%}" alt="" style="width:20px;margin-right:5px;display:block"></div>
            <div class="weui-cell__bd">
                <p>实名认证</p>
            </div>
            <div class="weui-cell__ft">
                等待审核
            </div>
        </a>
    {% else %}
        <a class="weui-cell weui-cell_access" href="#">
            <div class="weui-cell__hd"><img src="{% static 'jquery-weui/images/authentication.png'%}" alt="" style="width:20px;margin-right:5px;display:block"></div>
            <div class="weui-cell__bd">
                <p>实名认证</p>
            </div>
            <div class="weui-cell__ft">
                审核完成
            </div>
        </a>
    {% endif %}

    <a class="weui-cell weui-cell_access" href="javascript:;">
        <div class="weui-cell__hd"><img src="{% static 'jquery-weui/images/msg.png'%}" alt="" style="width:20px;margin-right:5px;display:block"></div>
        <div class="weui-cell__bd">
            <p>消息中心</p>
        </div>
        <div class="weui-cell__ft">进入查看</div>
    </a>
    <a class="weui-cell weui-cell_access" href="../statement">
        <div class="weui-cell__hd"><img src="{% static 'jquery-weui/images/selection.png'%}" alt="" style="width:20px;margin-right:5px;display:block"></div>
        <div class="weui-cell__bd">
            <p>协议及隐私声明</p>
        </div>
        <div class="weui-cell__ft">进入查看</div>
    </a>
    <a class="weui-cell weui-cell_access" href="../change_pwd_page">
        <div class="weui-cell__hd"><img src="{% static 'jquery-weui/images/lock.png'%}" alt="" style="width:20px;margin-right:5px;display:block"></div>
        <div class="weui-cell__bd">
            <p>修改密码</p>
        </div>
        <div class="weui-cell__ft">进入修改</div>
    </a>
    <a class="weui-cell weui-cell_access" href="../logout">
        <div class="weui-cell__hd"><img src="{% static 'jquery-weui/images/round_close.png'%}" alt="" style="width:20px;margin-right:5px;display:block"></div>
        <div class="weui-cell__bd">
            <p>退出登陆</p>
        </div>
        <div class="weui-cell__ft"></div>
    </a>
</div>

{#<div class="weui-tab" id="top-nav">#}
{#  <div class="weui-navbar">#}
{#    <a class="weui-navbar__item weui-bar__item--on" href="#tab1">#}
{#      选项一#}
{#    </a>#}
{#    <a class="weui-navbar__item" href="#tab2">#}
{#      选项二#}
{#    </a>#}
{#  </div>#}
{##}
{#  <div class="weui-tab__bd for-top">#}
{#    <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">#}
{#      <h1>页面一</h1>#}
{#        <h1>页面一</h1>#}
{#        <h1>页面一</h1>#}
{#        <h1>页面一</h1>#}
{#        <h1>页面一</h1>#}
{#    </div>#}
{#    <div id="tab2" class="weui-tab__bd-item">#}
{#      <h1>页面二</h1>#}
{#        <h1>页面二</h1>#}
{#        <h1>页面二</h1><h1>页面二</h1><h1>页面二</h1>#}
{#        <h1>页面二</h1>#}
{#    </div>#}
{#  </div>#}
{#</div>#}
{##}
{#<script type="text/javascript">#}
{#    $(function(){#}
{#    });#}
{##}
{#    $('#top-nav .weui-navbar__item').click(function () {#}
{#        var href = $(this).attr("href");#}
{#        if($(this).hasClass(ITEM_ON)) return;#}
{#        if(!/^#/.test(href)) return;#}
{##}
{#        $(this).parent().find("."+ITEM_ON).removeClass(ITEM_ON);#}
{#        $(this).addClass(ITEM_ON);#}
{##}
{#        var bd = $(this).parents("#top-nav").find(".weui-tab__bd");#}
{#        bd = bd.filter('.for-top');#}
{##}
{#        bd.children(".weui-tab__bd-item--active").removeClass("weui-tab__bd-item--active");#}
{##}
{#        $(href).addClass("weui-tab__bd-item--active");#}
{#    });#}
{##}
{#</script>#}