<div class="theme-header-navigate">
    <div class="left"
         style="width:auto;font-size:30px;color:white;font-weight:bolder;margin-left:20px;margin-top:0px;">
        {{ org_name }}
    </div>
    <div class="right" style="width:auto;color:whitesmoke;">
        <div><span>&rBarr; 登陆用户：<b>{{ request.user.username }}</b></span></div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/bms/index"><b style="font-size: medium; color:#3b5998">首页</b></a></li>
            <li><a id="msg_center" href="#" onclick="newone('消息中心','../bms/msg_center',this);"></a></li>
            <li><a href="#" onclick="newone('修改密码','change_pwd_page',this);"><b style="font-size: medium; color:#3b5998">修改密码</b></a></li>
            <li><a href="/bms/logout"><b style="font-size: medium; color:#3b5998">注销</b></a></li>
        </ul>
    </div>
</div>

<script>
    /*第一次读取最新通知*/
    setTimeout(function() {
            Msg_Center();
        },
        200);
    /*30轮询读取函数*/
    var interval = setInterval(function() {
            Msg_Center();
        },
        1*60000);
    function Msg_Center() {
        var passurl='../bms/show_msg_num';
        $.ajax({
            type: 'POST',
            url: passurl,
            cache: false,
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
            success: function (data) {
                $('#msg_center').children('#msg').remove();
                $('#msg_center').append('<b style="font-size: medium;color: #3b5998" id="msg">消息中心<span style="color:#3b5998">('+data.num+')</span></b>');
            },
            error: function (data) {
                clearInterval(interval);
            }
        });
    }
</script>