<div class="theme-header-navigate" style="background-color: white;">
    <div class="left"
         style="width:auto;font-size:30px;color:dodgerblue;font-weight:bolder;margin-left:20px;margin-top:0px;">
        {{ org_name }}
    </div>
    <div class="right">
        <span> 登陆用户：<b>{{ request.user.username }}</b></span>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/bms/index"><b>首页</b></a></li>
            <li><a id="msg_center" href="#" onclick="newone('消息中心','../bms/msg_center',this);"></a></li>
            <li><a href="#" onclick="newone('修改密码','change_pwd_page',this);"><b>修改密码</b></a></li>
            <li><a href="/bms/logout"><b>注销</b></a></li>
        </ul>
    </div>
</div>

<script>
    /*第一次读取最新通知*/
    setTimeout(function() {
            Msg_Center();
        },
        200);
    /*30轮询读取函数*/
    var interval = setInterval(function() {
            Msg_Center();
        },
        1*60000);
    function Msg_Center() {
        var passurl='../bms/show_msg_num';
        $.ajax({
            type: 'POST',
            url: passurl,
            cache: false,
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
            success: function (data) {
                $('#msg_center').children('#msg').remove();
                $('#msg_center').append('<b id="msg">消息中心<span style="color:red">('+data.num+')</span></b>');
            },
            error: function (data) {
                clearInterval(interval);
            }
        });
    }
</script>