<script>

    $(function () {
        initMsgTable();
    });
    
    function initMsgTable() {
        $('#MsgGrid').datagrid({
            title: '消息中心列表',
            iconCls: 'icon-user',
            loadMsg: '数据加载中...',
            nowrap: true,
            autoRowHeight: true,
            striped: true,
            url: '../bms/msg_list',
            border: true,
            remoteSort: false,
            idField: 'id',
            pageSize: 10,
            pagination: true,
            rownumbers: true,
            singleSelect: true,
            fitColumns: true,
            columns: [[
                {field: 'ck', checkbox: true},
                {field: 'id', title: 'ID', width: 80, hidden:true },
                {field: 'title', title: '标题', width: 200, sortable: true},
                {field: 'msg', title: '内容', hidden:true},
                {field: 'type', title: '消息类型', width: 200, sortable: true},
                {field: 'operator', title: "发送人", width: 250, sortable: true},
                {field: 'date_joined', title: '发送时间', width: 200, sortable: true},
                {
                    field: 'have_read',
                    title: "是否已读",
                    width: 200,
                    sortable: true,
                    formatter: function (value, row, index) {
                        if (value == true) {
                            return value = '是';
                        } else {
                            return value = '否';
                        }
                    }
                }
            ]],
            toolbar: [{
                id: 'btnread',
                text: '查看信息',
                iconCls: 'icon-ok',
                handler: function () {
                    ReadMsgDialog('查看信息');
                }
            }, '-', {
                id: 'btnrefresh',
                text: '刷新',
                iconCls: 'icon-reload',
                handler: function () {
                    initMsgTable();
                }
            }],
            onDblClickRow: function (index, row) {
                ReadMsgDialog('查看信息');
            }
        });
    }

    function ReadMsgDialog(init_title) {
        var ReadMsg = $("#MsgGrid").datagrid("getSelections");
        if (ReadMsg.length == 0) {
            $.messager.alert("友情提示", "请您先选择一行需要查看的信息");
            return false;
        }
        common_dialog_only_close($('#ReadMsgDialog'),init_title);

        function reflash() {
            $('#ReadMsgDialog').dialog('open');
            var row = $('#MsgGrid').datagrid('getSelected');
            if(row)
            {
                $('#MsgDetailForm').form('load',row);
            }
            $("#MsgGrid").datagrid("reload");
        }
        var postdata = {
                msg_id: ReadMsg[0].id,
            };
            var passurl='../bms/have_read_msg';
            common_ajax_post(passurl,postdata,false,reflash);
    }
</script>

<div id="main-tab">
    <div title="消息中心" style="padding:10px">
        <table id="MsgGrid"></table>

    </div>
    <div id="ReadMsgDialog" class="easyui-dialog" style="padding:10px 20px"
         closed="true" resizable="true" modal="true" buttons="#dlg-buttons" align="center">
        <form id="MsgDetailForm" method="post" novalidate="novalidate">
            <table id="tblAdd" class="self-input-table">
                <tr>
                    <td><label for="title">标题：</label></td>
                    <td><input class="easyui-textbox form-control" type="text" id="title" name="title" readonly="readonly" style="width:350px;" /></td>
                </tr>
                <tr>
                    <td><label for="msg">内容：</label></td>
                    <td><input class="easyui-textbox form-control" type="text" id="msg" name="msg" readonly="readonly" data-options="multiline:true" style="width:350px;height: 300px" /></td>
                </tr>
                <tr>
                    <td><label for="operator">发送人：</label></td>
                    <td><input class="easyui-textbox form-control" type="text" id="operator" name="operator" readonly="readonly" data-options="" style="width:350px;" /></td>
                </tr>
                <tr>
                    <td><label for="date_joined">发送时间：</label></td>
                    <td><input class="easyui-textbox form-control" type="text" id="date_joined" name="date_joined" data-options="" style="width:350px;" /></td>
                </tr>
            </table>
        </form>
        </div>
</div>