{#资金流水列表#}
{% load humanize %}
<script>
    $(function () {
        initTable();
    });
    {#function sort_date(a,b){#}
    {#    var starttime = new Date(Date.parse(a));#}
    {#    var endtime = new Date(Date.parse(b));#}
    {#    if (starttime>endtime) return 1;#}
    {#    else return -1;#}
    {# }#}

    function initTable() {
        $('#FundDetailGrid').datagrid({
            title: '资金流水列表-------当前账户余额：{{ account_balance|intcomma }} 元',
            iconCls: 'icon-user',
            loadMsg: '数据加载中...',
            nowrap: true,
            autoRowHeight: true,
            striped: true,
            url: '../bms/fund_detail_list',
            {#sortName: 'date_joined',#}
            {#sortOrder: 'desc',#}
            border: true,
            remoteSort: false,
            idField: 'id',
            pageSize: 10,
            pagination: true,
            rownumbers: true,
            singleSelect: true,
            fitColumns: true,
            columns: [[
                {field: 'ck', checkbox: true},
                {field: 'id', title: 'ID', width: 80, hidden:true },
                {field: 'serial_number', title: '资金流水号', width: 200, sortable: true},
                {field: 'client', title: '客户', width: 200, sortable: true},
                {field: 'org', title: '机构', width: 200, sortable: true},
                {field: 'agency', title: '归属', width: 200, sortable: true},
                {field: 'balance_before', title: "交易前余额", width: 200, sortable: true},
                {field: 'balance_after', title: '交易后余额', width: 200, sortable: true},
                {field: 'balance_change', title: '交易金额', width: 200, sortable: true},
                {field: 'fund_state', title: '资金类型', width: 200, sortable: true},
                {field: 'fund_type', title: '资金渠道', width: 200, sortable: true},
                {field: 'fund_audit', title: '资金审核', width: 200, sortable: true},
                {field: 'date_joined', title: '提交时间', width: 200, sortable: true},
                {field: 'auditor', title: '审核人', width: 200, sortable: true},
                {field: 'audit_time', title: '审核时间', width: 200, sortable: true}
            ]],
            toolbar: [{
                id: 'btnadd',
                text: '入金操作',
                iconCls: 'icon-add',
                handler: function () {
                    InBalanceDialog('入金');
                }
            }, '-', {
                id: 'btnedit',
                text: '出金操作',
                iconCls: 'icon-remove',
                handler: function () {
                    OutBalanceDialog('出金');
                }
            }, '-', {
                id: 'btncut',
                text: '审批资金',
                iconCls: 'icon-lock-password',
                handler: function () {
                    AuditBalanceDialog('审批资金');
                }
            }, '-', {
                id: 'btnrefresh',
                text: '刷新',
                iconCls: 'icon-reload',
                handler: function () {
                    initTable();
                }
            }]
        });
    }

    function InBalanceDialog(init_title) {
        common_dialog($('#InBalanceDialog'),init_title,650,300,true,InBalanceEvent);
    }

    function InBalanceEvent() {
        if ($('#InBalanceForm #fund_type').combobox('getValue')=='offline')
        {
            var post_data = {
                balance_change: $('#InBalanceForm #balance_change').val(),
                type:'in'
           };
            var post_url='../bms/offline_balance_change';

            common_ajax_post(post_url,post_data,true,function () {
                $('#InBalanceDialog').dialog('close');
                $("#FundDetailGrid").datagrid("reload");
            });
        }
    }

    function OutBalanceDialog(init_title) {
        common_dialog($('#OutBalanceDialog'),init_title,650,300,true,OutBalanceEvent);

    }

    function OutBalanceEvent() {
        if ($('#OutBalanceForm #fund_type').combobox('getValue')=='offline')
        {
            var postdata = {
                balance_change: $('#OutBalanceForm #balance_change').val(),
                type:'out'
           };
            var post_url='../bms/offline_balance_change';

            common_ajax_post(post_url,postdata,true,function () {
                $('#OutBalanceDialog').dialog('close');
                $("#FundDetailGrid").datagrid("reload");
            });
        }
    }

    function AuditBalanceDialog(init_title) {
        var Update = $('#FundDetailGrid').datagrid('getSelected');
        if (Update == null || Update == undefined) {
            $.messager.alert("友情提示", "请您先选择一行需要修改的数据");
            return;
        }
        if(Update.fund_audit=='审核通过')
        {
            $.messager.alert("友情提示", "该资金明细已通过审核，不能修改状态");
            return;
        }
        if(Update.org!=null && Update.org!=undefined && Update.org!='')
        {
            $.messager.alert("友情提示", "不能对机构资金明细进行审核");
            return;
        }
        {% if request.user.identity == 'agency' %}
            if(Update.agency!=null && Update.agency!=undefined && Update.agency!='')
            {
                $.messager.alert("友情提示", "只能上级对归属资金明细进行审核");
                return;
            }
        {% endif %}
        common_dialog($('#AuditBalanceDialog'),init_title,650,300,true,AuditBalanceEvent);

        if(Update)
        {
            $('#AuditBalanceForm').form('load',Update);
        }
    }

    function AuditBalanceEvent() {
        var row = $('#FundDetailGrid').datagrid('getSelected');
        var postdata = {
            fund_id: row.id,
            fund_audit: $('#AuditBalanceForm #fund_audit').combobox('getValue'),
        };
        var passurl='../bms/fund_audit';
        function reflash(){
            $('#AuditBalanceDialog').dialog('close');
            $("#FundDetailGrid").datagrid("reload");
        }
        common_ajax_post(passurl,postdata,true,reflash);

    }
</script>

<div id="main-tab">
    <div title="资金流水列表" style="padding:10px">
        <table id="FundDetailGrid"></table>
    </div>
    {#----------------------入金界面开始------------------------------------------------------------#}
    <div id="InBalanceDialog" class="easyui-dialog" style="padding:10px 20px"
         closed="true" resizable="true" modal="true" buttons="#dlg-buttons" align="center">
        <form id="InBalanceForm" method="post" novalidate="novalidate">
            <table id="tblAdd" class="self-input-table">
                <tr>
                    <td><label for="fund_type">资金类型：</label></td>
                    <td>
                        <select id="fund_type" name="fund_type" class="easyui-combobox"
                                editable="false" panelheight='auto' style="width:200px;"
                                data-options="required:true">
                            <option value="online">网银</option>
                            <option value="offline">线下</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="balance_change">资金数额：</label></td>
                    <td>
                        <input type="text" id="balance_change" name="balance_change" class="easyui-numberbox" data-options="min:0,precision:2">
                    </td>
                </tr>
            </table>
        </form>
    </div>
    {#----------------------入金界面结束------------------------------------------------------------#}
    {#----------------------出金界面开始------------------------------------------------------------#}
    <div id="OutBalanceDialog" class="easyui-dialog" style="padding:10px 20px"
         closed="true" resizable="true" modal="true" buttons="#dlg-buttons" align="center">
        <form id="OutBalanceForm" method="post" novalidate="novalidate">
            <table id="tblAdd" class="self-input-table">
                <tr>
                    <td><label for="fund_type">资金类型：</label></td>
                    <td>
                        <select id="fund_type" name="fund_type" class="easyui-combobox"
                                editable="false" panelheight='auto' style="width:200px;"
                                data-options="required:true">
                            <option value="online">网银</option>
                            <option value="offline">线下</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="balance_change">资金数额：</label></td>
                    <td>
                        <input type="text" id="balance_change" name="balance_change" class="easyui-numberbox" data-options="min:0,precision:2">
                    </td>
                </tr>
            </table>
        </form>
    </div>
    {#----------------------出金界面结束------------------------------------------------------------#}
    {#----------------------审批资金开始------------------------------------------------------------#}
    <div id="AuditBalanceDialog" class="easyui-dialog" style="padding:10px 20px"
         closed="true" resizable="true" modal="true" buttons="#dlg-buttons" align="center">
        <div class="alert alert-danger" role="alert">
            <strong>提醒!</strong><br />审批通过后将完成资金划拨且不能再修改审批状态.
        </div>
        <form id="AuditBalanceForm" method="post" novalidate="novalidate">
            <table id="tblAdd" class="self-input-table">
                <tr>
                    <td><label for="fund_audit">审批资金：</label></td>
                    <td>
                        <select id="fund_audit" name="fund_audit" class="easyui-combobox"
                                editable="false" panelheight='auto' style="width:200px;"
                                data-options="valueField:'id',textField:'text',url:'../bms/get_fund_audit',required:true">
                        </select>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    {#----------------------审批资金结束------------------------------------------------------------#}
</div>